// Colors and Fonts
$DarkCyan: #3c8067;
$DarkOakCyan: #1A4031;
$Cream: #f2ebe3;
$VeryDarkBlue: #1c232b;
$DarkGrayishBlue: #6c7289;
$White: #ffffff;
$FontMont: 'Montserrat', sans-serif;
$FontFraun: 'Fraunces', serif;
$FontSize: 14px;

* {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: $FontMont;
  font-size: $FontSize;
  background-color: $Cream;
}

// Card
@import 'card';

// Attribution
.attribution {
  font-size: 11px;
  text-align: center;
  
  a {
    color: hsl(228, 45%, 44%);
  }
}
